

h3.login {
	color:white;
	font-family:Calibri;
}

h4.admin{
	color:white;
	font-family:Calibri;
	text-align:left;
}

h3.main{
    font-family:Calibri;
    color:black;
}

h3.testa{
    color:white;
    font-family:Calibri;
    font-size: 14pt;
    
}


INPUT[TYPE="submit"]:hover
	{ background-color:midnightblue;
	  color: white;
          font-size: 12pt;
	  font-weight: bold;
	  border: none;
	}

INPUT[TYPE="submit"]
	{  background-color:red;
	   color:white;
	   font-size:12pt;
	   font-weight: bold;
	   border: none;
	}
        td.utente{
            color:red;
            font-weight: bold; 
            font-size: 20pt;
            text-align: center;
        }


  

table.login{
	table-align:center;
	background-color: red;
       
	}
	
table.admin{
	table-align:center;
	
       
	}
 table.admin2{
	margin-left: 20pt;
        margin-top: 10pt;
	
       
	}
    table.admin3{
	
        margin-top: 40pt;
	
       
	}

#header{
	background-color: red; position: fixed;
	width: 100%; height: 18%; top: 0; right: 0;
	 left: 0; z-index:4;
}

#main { 
	position:absolute;
	overflow:visible;
	width: 75%; height:60%;
	top: 18%; right: 0%; left:15% ;
        font-family: Calibri;
        color:red;
	padding: 4px;
	padding-left:10%;
        z-index: 1;
 }
 #mainUtente{
     position:fixed;
	overflow:visible;
	width: 75%; height:60%;
	top: 18%; right: 0; left:0% ;
        font-family: Calibri;
        color:red;
	padding: 4px;
        padding-top: 50px;
	padding-left:10%;
 }
#sidebar { 
	position: fixed;
	width: 15%; height: 100%;
	right: 55%; left: 0%; top:18%; bottom: 30%;
        font-family: Calibri;
	padding: 8px;
	padding-right:5px;
        background-color:red;
        z-index: 3;
	 }
	 
	 

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-nov-2015, 22.24.53
    Author     : carfo
*/

