<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.GestoneAccount.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>servlet.GestoneAccount.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaAccountServlet</servlet-name>
        <servlet-class>servlet.GestoneAccount.VisualizzaAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaMagazzinoServlet</servlet-name>
        <servlet-class>servlet.GestioneMagazzino.VisualizzaMagazzinoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaOrdiniServlet</servlet-name>
        <servlet-class>servlet.GestioneOrdini.VisualizzaOrdiniServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaClientiServlet</servlet-name>
        <servlet-class>servlet.GestioneClienti.VisualizzaClientiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaBilancioServlet</servlet-name>
        <servlet-class>servlet.GestioneBilancio.VisualizzaBilancioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaHomeServlet</servlet-name>
        <servlet-class>servlet.GestoneAccount.VisualizzaHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.GestoneAccount.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaAccountServlet</servlet-name>
        <servlet-class>servlet.GestoneAccount.EliminaAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProdottoServlet</servlet-name>
        <servlet-class>servlet.GestioneMagazzino.InsertProdottoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaInserimento</servlet-name>
        <servlet-class>servlet.GestioneMagazzino.VisualizzaInserimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaCategoriaServletCompletini</servlet-name>
        <servlet-class>servlet.GestioneMagazzino.VisualizzaCategoriaServletCompletini</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaCategoriaServletTute</servlet-name>
        <servlet-class>servlet.GestioneMagazzino.VisualizzaCategoriaServletTute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaCategoriaServletPalloni</servlet-name>
        <servlet-class>servlet.GestioneMagazzino.VisualizzaCategoriaServletPalloni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaCategoriaServletScarpette</servlet-name>
        <servlet-class>servlet.GestioneMagazzino.VisualizzaCategoriaServletScarpette</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaCategoriaServletStampe</servlet-name>
        <servlet-class>servlet.GestioneMagazzino.VisualizzaCategoriaServletStampe</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaAccountServlet</servlet-name>
        <url-pattern>/VisualizzaAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaMagazzinoServlet</servlet-name>
        <url-pattern>/VisualizzaMagazzinoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaOrdiniServlet</servlet-name>
        <url-pattern>/VisualizzaOrdiniServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaClientiServlet</servlet-name>
        <url-pattern>/VisualizzaClientiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaBilancioServlet</servlet-name>
        <url-pattern>/VisualizzaBilancioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaHomeServlet</servlet-name>
        <url-pattern>/VisualizzaHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaAccountServlet</servlet-name>
        <url-pattern>/EliminaAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProdottoServlet</servlet-name>
        <url-pattern>/InsertProdottoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaInserimento</servlet-name>
        <url-pattern>/VisualizzaInserimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaCategoriaServletCompletini</servlet-name>
        <url-pattern>/VisualizzaCategoriaServletCompletini</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaCategoriaServletTute</servlet-name>
        <url-pattern>/VisualizzaCategoriaServletTute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaCategoriaServletPalloni</servlet-name>
        <url-pattern>/VisualizzaCategoriaServletPalloni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaCategoriaServletScarpette</servlet-name>
        <url-pattern>/VisualizzaCategoriaServletScarpette</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaCategoriaServletStampe</servlet-name>
        <url-pattern>/VisualizzaCategoriaServletStampe</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
